<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Programming</title>
    <link rel="stylesheet" href="../deep-logic/style.css">
</head>

<body>
    <header class="header-main">
        <h1><span class="lang-eng">Programming</span><span class="lang-pl">Programowanie</span></h1>
        <nav class="nav-main">
            <ul>
                <li><a href="index.html">Programowanie</a></li>
                <li><a href="program.html">Program</a></li>
                <!--                <li><a href="structured.html">programowanie strukturalne</a></li>-->
                <!--                <li><a href="procedural.html">programowanie proceduralne</a></li>-->
                <!--                <li><a href="object-oriented.html">programowanie obiektowe</a></li>-->
                <!--                <li><a href="functional.html">programowanie funkcyjne</a></li>-->
                <li><a href="imperative.html">programowanie imperatywne</a></li>
                <li><a href="declarative.html">programowanie deklaratywne</a></li>
                <li><a href="algorithm.html">algorytmy</a></li>
                <li><a href="data_struchture">struktury danych</a></li>
            </ul>
        </nav>
    </header>
    <main role="main">
        <section class="container main lang-pl flex">
            <header class="header">
                <h2>first</h2>
            </header>
            <ul>
                <li>Opisowe<ul>
                    <li>HTML</li>
                </ul></li>
                <li>Programowalne</li>
            </ul>
        </section>
    </main>
</body>

</html>
