table,
.table {

    th,
    td {
        vertical-align: middle;
        background: #005;
        border: 1px solid #088;
        padding: 5px;
        height: 32px;
    }
    
    th {
        vertical-align: middle;
        color: #0fa;
    }
    .border-none{
        border: none;
    }
}
