<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chemistry</title>
    <!--    <link rel="stylesheet" href="../blue/reset.css">-->
    <link rel="stylesheet" href="../deep-logic/style.css">
</head>

<body class="">
    <header class="header-main">
        <h1 class=""><span class="lang-en">Chemistry</span><span class="lang-pl">Chemia</span></h1>
        <nav class="nav-main">
            <ul>
                <li><a href="index.html">atom</a></li>
                <li><a href="bond.html">wiązania</a></li>
                <li><a href="compound.html">związki</a></li>
                <li><a href="reaction.html">reakcje</a></li>
                <li><a href="organic.html">chemia organiczna</a></li>
                <li><a href="inorganic.html">chemia nieorganiczna</a></li>
                <li><a href="electrochemistry.html">elektrochemia</a></li>
                <li><a href="methodology.html">Metodologia</a></li>
            </ul>
        </nav>
    </header>
    <main role="main">
        <section class="container main lang-en section">
            <header class="header">
                <h2>compounds</h2>
            </header>
            <dl class="">
                <dt>Physical properties:</dt>
                <dd>state of aggregation, color, hardness, gloss, density, viscosity, solubility in water and other solvents, melting point, boiling point, electric conductivity, heat conduction.</dd>
                <dt>Chemical properties:</dt>
                <dd>flammability, toxicity, smell, taste, behavior towards other substances under given conditions.</dd>
            </dl>
        </section>
        <section class="container main lang-pl section flex">
            <header class="col-12 flex">
                <img class="border center m-2 h-center" src="materia.jpg" alt="zdjęcie klasyfikacji materii">
                <h2 class="col-12">związki = substancje</h2>
            </header>
            <div class="col-6 flex">
                <dl class="col-6-m border">
                    <dt>właściwości fizyczne:</dt>
                    <dd>stan skupienia, barwa, twardość, połysk, gęstość, lepkość, rozpuszczalność w wodzie oraz innych rozpuszczalnikach, temperatura topnienia, temperatura wrzenia, przewodzenie prądu elektrycznego, przewodzenie ciepła.</dd>
                </dl>
                <dl class="col-6-m border">
                    <dt>pierwiastki chmiczne</dt>
                    <dd>substancje proste, których nie można rozłożyć na prostsze z zachowaniem ich dotychczasowych właściwości. Każdy pierwiastek ma indywidualne właściwości</dd>
                </dl>
                <dl class="col-6-m border">
                    <dt>właściwości chemiczne:</dt>
                    <dd>palność, toksyczność, zapach, smak, zachowanie wobec innych substancji w danych warunkach. </dd>
                </dl>
                <dl class="col-6-m border">
                    <dt>związki chemiczne</dt>
                    <dd>substancje złożone, powstałe w wyniku połączenia przynajmniej dwóch pierwiastków. Związek chemiczny ma swoje charakterystyczne właściwości, różne jednak od właściwości substancji, z których powstał.</dd>
                </dl>
                <dl class="col-6 border">
                    <dt>metale</dt>
                    <dd>np. Na, Ca, Cr, Hg, Al</dd>
                </dl>
                <dl class="col-6 border">
                    <dt>niemetale</dt>
                    <dd>np. H, C, N, O, S, Cl</dd>
                </dl>
                <dl class="col-6 border">
                    <dt>związki organiczne</dt>
                    <dd>
                        <ul>
                            <li class="">tlenki</li>
                            <li class="">wodorotlenki</li>
                            <li class="">kwasy</li>
                            <li class="">sole</li>
                        </ul>
                    </dd>
                </dl>
                <dl class="col-6 border">
                    <dt>związki organiczne</dt>
                    <dd>
                        <ul>
                            <li class="">węglowodory</li>
                            <li class="">pochodne węglowodorów</li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <section class="col-6 border">
                <header>
                    <h3>Mieszaniny</h3>
                </header>
                <div class="flex">
                    <dl class="col-6">
                        <dt>Mieszanina jednorodna</dt>
                        <dd>Nie da się odróżnić substancji wchodzących w skład mieszaniny</dd>
                    </dl>
                    <dl class="col-6">
                        <dt>Mieszanina niejednorodna</dt>
                        <dd>Substancje wchodzące w skład są odróżnialne</dd>
                    </dl>
                </div>
                <h5>metody rozdzielania mieszanin</h5>
                <ul class="capitalize-first-content">
                    <li>sączenie</li>
                    <li>filtracja</li>
                    <li>odparowanie</li>
                    <li>ekstrakcja</li>
                    <li>sedymentacja</li>
                    <li>destylacja</li>
                    <li>rektyfikacja</li>
                    <li>krystalizacja</li>
                    <li>chromatografia</li>
                    <li>elektroforeza</li>
                    <li>wymiana jonowa</li>
                    <li>adsorpcja</li>
                    <li>flotacja</li>
                    <li>osmoza</li>
                    <li>rozdział grawitacyjny</li>
                </ul>
            </section>
            <div class="col-12 flex">
                <div class="col-4 border">
                    <h4>Kwas</h4>
                    <p>Mikroskopowo - substancja wytwarzająca w roztworze jony wodorowe - hydrony H<sup>+</sup></p>
                    <p>Makroskopowo - substancja zmieniająca barwę wskaźnika roztworu na czerwono</p>
                </div>
                <div class="col-4 border">
                    <h4>Zasada</h4>
                    <p>Mikroskopowo - substancja wywtarzająca jony wodorotlenkowe OH<sup>-</sup></p>
                    <p>Makroskopowo - substancja zmieniająca barwę wskaźnika roztworu na niebiesko</p>
                </div>
                <div class="col-4 border">
                    <h4>Związek obojętny</h4>
                    <p>Mikroskopowo - nie wytwarza zarówno jonów H<sup>+</sup> jak i OH<sup>-</sup></p>
                    <p>Makroskopowo - nie zmienia barwy wskaźnika</p>
                </div>
            </div>
            <div class="col-12 flex">
                <section class="col-6 border">
                    <header>
                        <h3>Właściwości fizyczne metali</h3>
                    </header>
                    <ul class="">
                        <li class="">W temp 25°C są ciałami stałymi z wyjątkiem rtęci</li>
                        <li class="">Wysoka wartość temperatury topnienia</li>
                        <li class="">Dobre przewodzenie ciepła i prądu elektrycznego</li>
                        <li class="">Twarde</li>
                        <li class="">Metaliczny połysk</li>
                        <li class="">Barwa srebrzystoszara, z wyjątkiem miedzi i złota</li>
                        <li class="">Kowalność i ciągliwość</li>
                        <li class="">Mieszalne ze sobą po stopieniu</li>
                    </ul>
                </section>
                <section class="col-6 border">
                    <header>
                        <h3>Właściwości fizyczne niemetali</h3>
                    </header>
                    <ul class="">
                        <li class="">W temp 25°C są gazami, cieczami lub ciałami stałymi.</li>
                        <li class="">Niska wartość temperatury topnienia</li>
                        <li class="">Słabe przewodnictwo cieplne i elektryczne</li>
                        <li class="">Mała gęstość</li>
                        <li class="">Zróżnicowane</li>
                    </ul>
                </section>
            </div>
            <section class="flex col-12 center">
                <header class="col-12">
                    <h2>Stan skupienia substancji</h2>
                </header>
                <img src="stan_skupienia.jpg" alt="ilustracja stanów skupienia">
            </section>
        </section>
        <section class="container main lang-pl section">
            <header>
                <h2>Związki codziennego użytku</h2>
            </header>
            <p>Woda - H2O, <br> sól</p>
            <p>Powietrze</p>
        </section>
        <section class="container main lang-pl section">
            <header>
                <h2>Procesy substancji</h2>
            </header>
            <dl class="col-6">
                <dt>Destylacja</dt>
                <dd>Rozdzielenie ciekłej mieszaniny przez odparowanie i skroplenie składników. Stosowana w celu wyizolowania i oczyszczania związków chemicznych. Do przeprowadzania tego procesu, używa się różnej lotności składników mieszaniny. Produkt destylacji to "destylat", pozostałość to "ciecz wyczerpana".</dd>
                <dt>Krystalizacja</dt>
                <dd>Proces uzyskania stanu krystalicznego, z stanu stałego, ciekłego, lub krystalicznego.</dd>
                <dt>Sedymentacja</dt>
                <dd>Swobodne opadanie ciała stałego na dno cieczy pod wpływem grawitacji.</dd>
                <dt>Dekantacja</dt>
                <dd>Zlanie cieczy z nad opadłego na dno naczynia osadu.</dd>
                <dt>Filtracja/sączenie</dt>
                <dd>Sposób oddzielenia substancji stałej od cieczy</dd>
            </dl>
        </section>
    </main>
</body>

</html>
