<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chemistry</title>
    <link rel="stylesheet" href="../deep-logic/style.css">
</head>

<body>
    <header class="header-main">
        <h1><span class="lang-eng">Chemistry</span><span class="lang-pl">Chemia</span></h1>
        <nav class="nav-main">
            <ul>
                <li><a href="index.html">atom</a></li>
                <li><a href="bond.html">wiązania</a></li>
                <li><a href="compound.html">związki</a></li>
                <li><a href="reaction.html">reakcje</a></li>
                <li><a href="organic.html">chemia organiczna</a></li>
                <li><a href="inorganic.html">chemia nieorganiczna</a></li>
                <li><a href="electrochemistry.html">elektrochemia</a></li>
                <li><a href="methodology.html">Metodologia</a></li>
            </ul>
        </nav>
    </header>
    <main role="main">
        <section class="container main lang-pl flex">
            <header class="header">
                <h2>Elektrochemia</h2>
            </header>
            <p>Strona/spis treści oparta o książkę - "Ostatni dzwonek przed maturą, ELEKTROCHEMIA Repetytorium maturzysty" - Karol Dudek, Michał Płotek</p>
            <section>
                <header>
                    <h3>Procesy elektrochemiczne</h3>
                </header>
                    <ul>
                        <li>Szereg elektrochemiczny metali</li>
                        <li>Procesy chemiczne będące źródłem prądu elektrycznego</li>
                        <li>Równanie Nernsta</li>
                        <li>Korozja <ul>
                            <li>Korozja chemiczna</li>
                            <li>Korozja elektrochemiczna</li>
                            <li>Czynniki wpływające na szybkość procesów korozyjnych</li>
                            <li>Ochrona przed korozją</li>
                        </ul></li>
                        <li>Elektroliza <ul>
                            <li>Elektroliza związków stopionych</li>
                            <li>Elektroliza wodnych roztworów związków nieorganicznych oraz wodnych roztworów kwasów karboksylowych i ich soli</li>
                            <li>Kolejność procesów elektrodowych</li>
                        </ul></li>
                        <li>Ujęcie ilościowe procesów elektrolizy</li>
                    </ul>
            </section>
            <section>
               <header>
                   <h3>Ogniwa elektrochemiczne</h3>
               </header>
                <ul>
                        <li>Ogniwo Galwaniczne<ul>
                            <li>Siła elektromotoryczna ogniwa</li>
                            <li>Samorzutność procesów zachodzących w ogniwie galwanicznym</li>
                        </ul></li>
                        <li>Ogniwo Daniella</li>
                        <li>Ogniwo Volty</li>
                        <li>Półogniwa gazowe <ul>
                            <li>Półogniwo chlorowe</li>
                            <li>Półogniwo tlenowe</li>
                        </ul></li>
                        <li>Półogniwo redoks</li>
                        <li>Półogniwo chlorosrebrowe</li>
                        <li>Półogniwo chinhydronowe</li>
                        <li>Ogniwo Leclanchego + jego modyfikacja</li>
                        <li>Akumulator ołowiowy</li>
                </ul>
            </section>
        </section>
    </main>
</body>

</html>
