<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" href="../deep-logic/style.css">
</head>

<body>
    <header class="header-main">
        <h1><span class="lang-en">Template</span><span class="lang-pl">Szablon</span></h1>
        <nav class="nav-main">
            <ul>
                <li><a href="index.html">atom</a></li>
                <li><a href="bond.html">wiązania</a></li>
                <li><a href="compound.html">związki</a></li>
                <li><a href="reaction.html">reakcje</a></li>
                <li><a href="organic.html">chemia organiczna</a></li>
                <li><a href="inorganic.html">chemia nieorganiczna</a></li>
                <li><a href="electrochemistry.html">elektrochemia</a></li>
                <li><a href="methodology.html">Metodologia</a></li>
            </ul>
        </nav>
    </header>
    <main role="main">
        <section class="container main lang-pl flex">
            <header class="header">
                <h2>Metodologia</h2>
            </header>
            <section>
                <header>
                    <h3>Analiza chemiczna</h3>
                </header>
                <h4>Analiza jakościowa</h4>
                <h4>Analiza ilościowa</h4>
                <h4>Analiza strukturalna</h4>
            </section>
            <section>
                <header>
                    <h3>Metoda chemiczna</h3>
                </header>
                <p>Przeprowadzanie reakcji chemicznych</p>
            </section>
            <section>
                <header>
                    <h3>Metody fizykochemiczne</h3>
                </header>
                <p>Badanie cech fizycznych dostarczonych próbek.</p>
            </section>
            <section>
                <header>
                    <h3>Metody biochemiczne</h3>
                </header>
                <h4>Metoda enzymatyczna</h4>
                <h4>Metoda immunochemiczna</h4>
            </section>
        </section>
    </main>
</body>

</html>
