<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chemistry</title>
    <!--    <link rel="stylesheet" href="../blue/reset.css">-->
    <link rel="stylesheet" href="../deep-logic/style.css">
</head>

<body class="">
    <header class="header-main">
        <h1 class=""><span class="lang-eng">Chemistry</span><span class="lang-pl">Chemia</span></h1>
        <nav class="nav-main">
            <ul>
                <li><a href="index.html">atom</a></li>
                <li><a href="bond.html">wiązania</a></li>
                <li><a href="compound.html">związki</a></li>
                <li><a href="reaction.html">reakcje</a></li>
                <li><a href="organic.html">chemia organiczna</a></li>
                <li><a href="inorganic.html">chemia nieorganiczna</a></li>
                <li><a href="electrochemistry.html">elektrochemia</a></li>
                <li><a href="methodology.html">Metodologia</a></li>
            </ul>
        </nav>
    </header>
    <main role="main">
        <section class="container main lang-eng section">
            <header class="">
                <h2>substances</h2>
            </header>
            <dl class="">
                <dt>Physical properties:</dt>
                <dd>state of aggregation, color, hardness, gloss, density, viscosity, solubility in water and other solvents, melting point, boiling point, electric conductivity, heat conduction.</dd>
                <dt>Chemical properties:</dt>
                <dd>flammability, toxicity, smell, taste, behavior towards other substances under given conditions.</dd>
            </dl>
        </section>
        <section class="container main lang-pl section flex">
            <header class="col-12">
                <h2>substancje</h2>
            </header>
                <div class="col-6 flex">
                    <dl class="col-6-m grid-field">
                        <dt>właściwości fizyczne:</dt>
                        <dd>stan skupienia, barwa, twardość, połysk, gęstość, lepkość, rozpuszczalność w wodzie oraz innych rozpuszczalnikach, temperatura topnienia, temperatura wrzenia, przewodzenie prądu elektrycznego, przewodzenie ciepła.</dd>
                    </dl>
                    <dl class="col-6-m grid-field">
                        <dt>pierwiastki chmiczne</dt>
                        <dd>substancje proste, których nie można rozłożyć na prostsze z zachowaniem ich dotychczasowych właściwości. Każdy pierwiastek ma indywidualne właściwości</dd>
                    </dl>
                    <dl class="col-6-m grid-field">
                        <dt>właściwości chemiczne:</dt>
                        <dd>palność, toksyczność, zapach, smak, zachowanie wobec innych substancji w danych warunkach. </dd>
                    </dl>
                    <dl class="col-6-m grid-field">
                        <dt>związki chemiczne</dt>
                        <dd>substancje złożone, powstałe w wyniku połączenia przynajmniej dwóch pierwiastków. Związek chemiczny ma swoje charakterystyczne właściwości, różne jednak od właściwości substancji, z których powstał.</dd>
                    </dl>
                    <dl class="col-3-m grid-field">
                        <dt>metale</dt>
                        <dd>Na, Ca, Cr, Hg, Al</dd>
                    </dl>
                    <dl class="col-3-m grid-field">
                        <dt>niemetale</dt>
                        <dd>np. H, C, N, O, S, Cl</dd>
                    </dl>
                    <dl class="col-3-m grid-field">
                        <dt>związki organiczne</dt>
                        <dd>
                            <ul>
                                <li class="">tlenki</li>
                                <li class="">wodorotlenki</li>
                                <li class="">kwasy</li>
                                <li class="">sole</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="col-3-m grid-field">
                        <dt>związki organiczne</dt>
                        <dd>
                            <ul>
                                <li class="">węglowodory</li>
                                <li class="">pochodne węglowodorów</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="col-6 flex">
                    <section class="col-12-m grid-field">
                        <header>
                            <h3>Właściwości fizyczne metali</h3>
                        </header>
                        <ul class="">
                            <li class="">W temp 25°C są ciałami stałymi z wyjątkiem rtęci</li>
                            <li class="">Wysoka wartość temperatury topnienia</li>
                            <li class="">Dobre przewodzenie ciepła i prądu elektrycznego</li>
                            <li class="">Twarde</li>
                            <li class="">Metaliczny połysk</li>
                            <li class="">Barwa srebrzystoszara, z wyjątkiem miedzi i złota</li>
                            <li class="">Kowalność i ciągliwość</li>
                            <li class="">Mieszalne ze sobą po stopieniu</li>
                        </ul>
                    </section>
                    <section class="col-12-m grid-field">
                        <header>
                            <h3>Właściwości fizyczne niemetali</h3>
                        </header>
                        <ul class="">
                            <li class="">W temp 25°C są gazami, cieczami lub ciałami stałymi.</li>
                            <li class="">Niska wartość temperatury topnienia</li>
                            <li class="">Słabe przewodnictwo cieplne i elektryczne</li>
                            <li class="">Mała gęstość</li>
                            <li class="">Zróżnicowane</li>
                        </ul>
                    </section>
                </div>
                <section>
                    <header>
                        <h3>Mieszaniny</h3>
                    </header>
                    <p>jednorodne</p>
                    <p>niejednorodne</p>
                </section>
            <section class="flex col-12 center">
                <header class="col-12">
                    <h2>Stan skupienia substancji</h2>
                </header>
                <img src="stan_skupienia.jpg" alt="ilustracja stanów skupienia">
            </section>
        </section>
    </main>
</body>

</html>
